include src/algorithm.hpp
include src/algorithm/options.hpp
include src/algorithm/result.hpp
include src/algorithm/termination.hpp

include src/operators/crossover.hpp
include src/operators/mutation.hpp
include src/operators/selection.hpp

include src/population.hpp
include src/population/individual.hpp

include bindings/algorithm.pyx bindings/cpp_algorithm.pxd
include bindings/cpp_individual.pxd

include bindings/crossover.pyx bindings/cpp_crossover.pxd
include bindings/mutation.pyx bindings/cpp_mutation.pxd
include bindings/options.pyx bindings/cpp_options.pxd
include bindings/population.pyx bindings/cpp_population.pxd
include bindings/selection.pyx bindings/cpp_selection.pxd


